/* General popup style */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Popup with recipe */
.recipe-image {
    width: 20%;
    height: auto;
    margin: 20px 0;
    
}

.recipe-image-div {

}

.recipe-content {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.recipe-details {

}

/* Popup with trivia */
.trivia-content {
    background-color: aquamarine;
}

/* Popup with quiz */
.quiz-content {
    background-color: bisque;
}
.quiz-answer-button {
    background-color: blueviolet;
}

.correct {
    background-color: green;
    color: aliceblue;
}

.incorrect {
    background-color: red;
    color: white;
}

.answer-details {

}

/* Background style */

body, html {
  margin: 0;
  padding: 0;
}

.home{
    height: 100vh;
    width: 100vw;
    background-image: url("/images/xmas-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: coral;
    position: relative;
    overflow-y: auto;
}

/* Style for the container of the doors */
.doors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-y: auto;
    max-height: 100vh;
}

/* Style for the door/button when it is not clicked */
.door {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 120px;
    background-color: rgba(255, 238, 173, 0.5);
    border: 2px solid black;
    color: black;
    margin: 10px;
    font-size: xx-large;
    cursor: pointer;
}

/* Style for the door/button when it is clicked */
.opened {
    background-color: rgb(160, 35, 52);
}